.clients {
  margin-bottom: 50px;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    cursor: pointer;
    border: 1px solid $border-clients-section;
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $white-text;
    border-color: $accent-color;
  }

  &__link:hover > svg,
  &__link:focus > svg {
    fill: $accent-color;
  }

  &__icons {
    fill: $border-clients-section;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icons:hover {
    fill: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .clients {
    margin-bottom: 30px;
  }

  .clients__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }

  .clients__item:not(:last-child) {
    margin-right: 0;
  }
  .clients__item {
    margin-bottom: 30px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients__item {
    flex-basis: calc((100% - 30px * 2) / 3);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients__link {
    width: 170px;
  }
}
