.footer-form {
  &__title {
    margin-bottom: 20px;
  }

  &__input {
    width: 358px;
    padding: 15px 0 15px 16px;
    margin-right: 12px;
    background-color: $footer-background-color;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
  }

  &__input input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $footer-contacts-list;
  }

  &__button {
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 29px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: $white-text;
  }

  &__icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 767px) {
  .footer-form__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .footer-form {
    margin: 0;
    text-align: center;
  }

  .footer-form__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }

  .footer-form__title {
    margin-left: 93px;
  }
}
