.footer-social-networks {
  margin-left: 70px;
}

.footer-networks {
  color: $white-text;
  background-color: $footer-networks-color;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text;
  }
}

.social-networks {
  display: flex;
  margin: 0;
  padding: 0;

  &__links {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__links:hover {
    cursor: pointer;
    background-color: $accent-color;
  }

  &__icons {
    fill: $white-text;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    fill: $white-text;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-social-networks {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }

  .footer-networks__title {
    text-align: center;
  }
}
