.footer {
  padding: 60px 0;
  background-color: $footer-background-color;

  &__block {
    display: flex;
    align-items: baseline;
  }

  &__dark-section {
    display: inline-block;
    margin-bottom: 20px;

    font-family: $logo-font-family;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.2;
    color: $white-text;
  }

  &__dark-logo {
    color: $accent-color;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-contact-navigation {
    text-align: center;
  }
}
