.header {
  border-bottom: 1px solid $border-line;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 480px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px;
  }

  .header__block {
    max-width: 480px;
  }

  .navigation {
    max-width: 480px;
  }

  .site-nav__list,
  .site-contacts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
