$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$second-background-color: #f5f4fa;
$white-text: #ffffff;
$footer-background-color: #2f303a;
$footer-contacts-list: rgba(255, 255, 255, 0.6);
$border-line: #ececec;
$border-box-portfolio: #eeeeee;
$border-clients-section: #afb1b8;
$footer-networks-color: #43444d;
$offers-position-background: rgba(47, 48, 58, 0.8);
$feedback-modal-form: rgba(117, 117, 117, 0.5);
$checkbox-modal-form: #188ce8;
$modal-page-backdrop: rgba(0, 0, 0, 0.2);

$main-font-family: 'Roboto';
$logo-font-family: 'Raleway', sans-serif;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  background-color: #fff;
  color: $primary-text-color;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $feedback-modal-form;
  }
}
